on:
  pull_request:
jobs:
  mirror_repo:
    environment: GITLAB
    runs-on: self-hosted
    steps:
      - name: Sync Mirror Repository
        run: |
          #!/bin/bash
          curl --request POST --header "PRIVATE-TOKEN:${{ secrets.TOKEN }}" "${{ secrets.MIRROR_URL }}"
  trigger-ci:
    environment: GITLAB
    needs: mirror_repo
    runs-on: self-hosted
    steps:
      - name: Trigger Pipeline
        run: |
          #!/bin/bash
          curl --fail --request POST \
            --form token=${{ secrets.PIPELINE_TOKEN }} \
            --form variables[TRITON_CLIENT_REPO_TAG]=${GITHUB_HEAD_REF} \
            --form variables[TRITON_CLIENT_REPO_TAG]=main \
            -F ref=${GITHUB_HEAD_REF}  "${{ secrets.PIPELINE_URL }}"
